html, body {
  overflow: hidden !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  box-sizing: border-box !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

*, *::before, *::after {
  box-sizing: border-box !important;
}

.App {
  overflow: hidden !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
}

.ticker-layout p,
.ticker-layout h1,
.landscape-layout p,
.landscape-layout h1,
.portrait-layout p,
.portrait-layout h1 {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 100% !important;
}

.ticker-ball,
.ticker-special-ball,
.landscape-ball,
.landscape-special-ball,
.portrait-ball,
.portrait-special-ball {
  overflow: visible !important;
}

.ticker-numbers,
.landscape-balls-container,
.portrait-balls-container {
  overflow: visible !important;
}

.ticker-layout,
.landscape-layout,
.portrait-layout {
  display: none !important;
  visibility: hidden !important;
  opacity: 0 !important;
  position: absolute !important;
  left: -99999px !important;
  top: -99999px !important;
}

body[data-layout="ticker"] .ticker-layout {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
}

body[data-layout="landscape"] .landscape-layout {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
}

body[data-layout="portrait"] .portrait-layout {
  display: flex !important;
  visibility: visible !important;
  opacity: 1 !important;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
}

.ticker-layout {
  gap: 1.5vw;
  padding: 0 1vw;
  overflow: hidden !important;
  box-sizing: border-box !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  will-change: opacity;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.ticker-logo {
  height: 70vh;
}

.ticker-title {
  font-size: 7vh;
}

.ticker-divider {
  width: 0.25vw;
  height: 80vh;
  margin: 0 2vw;
}

.ticker-numbers {
  gap: 0.8vw !important;
}

.ticker-numbers > div {
  margin-left: 0.4vw !important;
  margin-right: 0.4vw !important;
}

.ticker-numbers > div:first-child {
  margin-left: 0 !important;
}

.ticker-numbers > div:last-child {
  margin-right: 0 !important;
}

.ticker-ball {
  width: 30vh !important;
  height: 30vh !important;
  font-size: 10vh !important;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.3) !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.ticker-special-ball {
  width: 32vh !important;
  height: 32vh !important;
  font-size: 11vh !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.ticker-special-halo {
  width: calc(24vh + 0.5rem) !important;
  height: calc(24vh + 0.5rem) !important;
}

.ticker-plus {
  font-size: 7.5vh !important;
  margin: 0 0.5vw !important;
}

.ticker-info {
  gap: 1vh !important;
  min-width: 25vw !important;
  max-width: 45vw !important;
}

.ticker-date,
.ticker-next-draw {
  font-size: 10vh !important;
  font-weight: 900 !important;
}

.ticker-jackpot {
  font-size: 20vh !important;
}

.landscape-layout {
  padding: 0.8vh 1.5vw;
  overflow: hidden !important;
  box-sizing: border-box !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  will-change: opacity;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.landscape-logo {
  height: 24vh;
  margin-bottom: 1.5vh;
}

.landscape-title {
  font-size: 8vh;
  margin-bottom: 1.5vh;
}

.landscape-draw-date {
  font-size: 4.5vh;
  margin-bottom: 2vh;
}

.landscape-balls-container {
  gap: 1.2vw !important;
  margin-bottom: 2vh;
}

.landscape-balls-container > div {
  margin-left: 0.6vw !important;
  margin-right: 0.6vw !important;
}

.landscape-balls-container > div:first-child {
  margin-left: 0 !important;
}

.landscape-balls-container > div:last-child {
  margin-right: 0 !important;
}

.landscape-ball {
  width: 13vh !important;
  height: 13vh !important;
  font-size: 5.5vh !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.landscape-special-ball {
  width: 14vh !important;
  height: 14vh !important;
  font-size: 6vh !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.landscape-special-halo {
  width: calc(14vh + 0.5rem) !important;
  height: calc(14vh + 0.5rem) !important;
}

.landscape-plus {
  font-size: 7vh !important;
  margin: 0 1vw !important;
}

.landscape-next-draw {
  font-size: 4.5vh;
  margin-bottom: 1vh;
}

.landscape-jackpot {
  font-size: 16vh !important;
}

.portrait-layout {
  padding: 1vh 1.5vw;
  overflow: hidden !important;
  box-sizing: border-box !important;
  max-width: 100vw !important;
  max-height: 100vh !important;
  will-change: opacity;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.portrait-logo {
  height: 16vh;
  margin-bottom: 1vh;
}

.portrait-title {
  font-size: 6vh;
  margin-bottom: 1vh;
}

.portrait-draw-date {
  font-size: 3vh;
  margin-bottom: 1vh;
}

.portrait-balls-container {
  gap: 1vw !important;
  margin-bottom: 1.5vh;
}

.portrait-balls-container > div {
  margin-left: 0.5vw !important;
  margin-right: 0.5vw !important;
}

.portrait-balls-container > div:first-child {
  margin-left: 0 !important;
}

.portrait-balls-container > div:last-child {
  margin-right: 0 !important;
}

.portrait-ball {
  width: 9vh !important;
  height: 9vh !important;
  font-size: 4vh !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.portrait-special-ball {
  width: 10vh !important;
  height: 10vh !important;
  font-size: 4.5vh !important;
  transform: translateZ(0) !important;
  -webkit-transform: translateZ(0) !important;
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
}

.portrait-special-halo {
  width: calc(10vh + 0.5rem) !important;
  height: calc(10vh + 0.5rem) !important;
}

.portrait-plus {
  font-size: 5vh !important;
  margin: 0 0.8vw !important;
}

.portrait-next-draw {
  font-size: 3vh;
  margin-bottom: 0.5vh;
}

.portrait-jackpot {
  font-size: 12vh !important;
}

@media screen and (max-width: 1400px) {
  .ticker-layout {
    padding: 0 1vw;
  }
  .ticker-divider {
    margin: 0 1.8vw;
  }
}

@media screen and (max-width: 1024px) {
  .ticker-layout {
    padding: 0 0.8vw;
  }
  .ticker-divider {
    margin: 0 1.5vw;
  }
}

@media screen and (max-height: 350px) {
  .ticker-layout {
    padding: 0 0.5vw !important;
    gap: 0.5vw !important;
  }
}

@media screen and (orientation: portrait) and (max-height: 900px) {
  .portrait-layout {
    padding: 0.5vh 1vw !important;
  }
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  .portrait-layout {
    padding: 0.5vh 0.8vw !important;
  }
}

@media screen and (orientation: landscape) and (max-height: 700px) {
  .landscape-layout {
    padding: 0.5vh 1vw !important;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .landscape-layout {
    padding: 0.5vh 0.8vw !important;
  }
}

@media screen and (min-height: 2000px) {
  .portrait-ball {
    max-width: 150px !important;
    max-height: 150px !important;
  }
  .landscape-ball {
    max-width: 180px !important;
    max-height: 180px !important;
  }
  .portrait-special-ball {
    max-width: 165px !important;
    max-height: 165px !important;
  }
  .landscape-special-ball {
    max-width: 195px !important;
    max-height: 195px !important;
  }
}

@media screen and (min-width: 2560px) {
  .ticker-ball {
    max-width: 95px !important;
    max-height: 95px !important;
  }
  .ticker-special-ball {
    max-width: 102px !important;
    max-height: 102px !important;
  }
  .ticker-special-halo {
    max-width: 107px !important;
    max-height: 107px !important;
  }
  .ticker-logo {
    max-height: 220px !important;
  }
}

@media screen and (min-width: 3840px) {
  .ticker-layout,
  .landscape-layout,
  .portrait-layout {
    padding: 0 0.5vw !important;
  }
}
